<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1" android:versionName="1.0" package="com.Android.player.activity">
	<application android:icon="@drawable/itunesmusic"
		android:label="@string/app_name">
		<activity android:name=".MainPlayActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>



		<activity android:name="PlayListActivity" />
		<provider android:name="com.Android.player.dao.DBProvider"
			android:authorities="MUSIC" />
		<activity android:name="FileExplorerActivity" />
		<activity android:name="Menu" />
		<activity android:name="PlaySetting" />
	</application>
	<uses-sdk android:minSdkVersion="9" />


<uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"></uses-permission>
</manifest> 